.page-header {
    background-image: url('http://3.bp.blogspot.com/_xQnkLhVCNQs/TEgpwxUFm9I/AAAAAAAAAI4/28c3UdH2KFw/s1600/greenbeangroceries_4.gif');
    background-size: cover;
}

.page-title {
    font-size: 14;
    color: #fac950;
}

.bold {
    font-weight: bold;
}